<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/admin-style-cargo.css">
  </head>
  <body class="p-3 m-0 border-0 bd-example m-0 border-0">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/admins/admin/panel">inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Cargo
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/admins/registrarPersona">agregar persona</a></li>
                  <li><a class="dropdown-item" href="/admins/asignarCargo">Colocar cargos</a></li>
                  <li><a class="dropdown-item" href="/admins/viewcargos">View cargos</a></li>
                  <li><a class="dropdown-item" href="/admins/asignarusuario">Asignar usuario</li>
                  <li><a class="dropdown-item" href="/admins/viewusuario">view users</li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Productos
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/admins/producto">producto</a></li>
                  <li><a class="dropdown-item" href="/admins/producto_presentacion">view productos</a></li>
                </ul>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Rutas
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/admins/rutas">rutas_list</a></li>
                <li><a class="dropdown-item" href="/admins/locales">local</a></li>
                <li><a class="dropdown-item" href="/admins/persona_local">persona local</a></li>
                <li><a class="dropdown-item" href="/admins/asignacion">asignacion</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Nomina
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/admins/nomina">Registrar Pago</a></li>
                <li><a class="dropdown-item" href="/admins/viewnomina">Control de Pago</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Reportes
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/admins/venta-por-ruta">Ventas por ruta</a></li>
                <li><a class="dropdown-item" href="/admins/deuda_total">Deudas</a></li>
                <li><a class="dropdown-item" href="/admins/ventas-total">Venta total</a></li>
                <li><a class="dropdown-item" href="/admins/pago-vendedor">Reporte a Pago a Vendedores</a></li>
              </ul>
            </li>

            <li> <a href="/users/logout">Logout</a></li>
          </ul>
        </div>
        
      </div>
    </nav>
    <h1>Productos Presentaciones</h1>
    
    <!-- Formulario para agregar nueva asignación -->
    <form method="POST" action="producto_presentacion">
        <label for="id_producto">Producto:</label>
        <select id="id_producto" name="id_producto" required>
            <% productos.forEach(producto => { %>
                <option value="<%= producto.id_producto %>"><%= producto.de_producto %></option>
            <% }) %>
        </select>
        
        <label for="id_presentacion">Presentación:</label>
        <select id="id_presentacion" name="id_presentacion" required>
            <% presentaciones.forEach(presentacion => { %>
                <option value="<%= presentacion.id_presentacion %>"><%= presentacion.de_presentacion %></option>
            <% }) %>
        </select>
        
        <label for="precio">Precio:</label>
        <input type="text" id="precio" name="precio" required>
        
        <button type="submit">Agregar Asignación</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>ID Producto Presentación</th>
                <th>Producto</th>
                <th>Presentación</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            <% productosPresentaciones.forEach(productoPresentacion => { %>
                <tr>
                    <td><%= productoPresentacion.id_producto_presentacion %></td>
                    <td><%= productoPresentacion.nombre_producto %></td>
                    <td><%= productoPresentacion.descripcion_presentacion %></td>
                    <td><%= productoPresentacion.precio %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <div>
      <a class="boton" href="admin/panel">Back</a>
  </div>
</body>
</html>
